*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background-color: #f7f5f5;;
}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:30px;
	box-shadow: 2px 2px 3px #999;
    z-index:100;
}
.instagram{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	/* color:#FFF; */
	border-radius:8px;
	text-align:center;
    font-size:30px;
    z-index:100;
}

.my-float{
	margin-top:16px;
}
#brand{
	width: 170px;
}
.card{
	border: none;
	/* display: flex; */
}
.line{
	border: 1px solid black;
}
#card{
	margin-top: 45px;
}
.contact{
	margin-left: -40px;
}
#image-background{
	/* background-image: url(img/education-768x367.jpg); */
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./img/education-768x367.jpg);
	height: 550px;
	background-repeat: no-repeat;
	background-size: cover;
}
/* .col{
	width: 40%;
	background-color: #FFF;
} */
#text-secondary{
	margin-left: 10px;
	padding-top: 10px;
}
.course-registration{
	display: flex;
	align-items: center;
	margin-top: -70p;
}
@media only screen and (max-width: 768px) {
	#image-background{
		height: auto!important ;
	}
	
}
.nav-link:hover{
	color: #6ec1e4;
}
#map {
	height: 400px;
	width: 100%;
  }
#bg-filter{
	background-color: transparent;
	backdrop-filter: blur(15px);
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
a:hover{
	color: #FFF;
}
.instagram{
	cursor: pointer;
}
.moveable-bg{
	height: 150px;
	background-image: url(./img/classroom-desk-backpack-school-guide-metro-little-rock-2022-104-shutterstock.jpg);
}
#moveable-bg{
	background: transparent;
	height: 100px;
}


#div3 {animation-timing-function: ease-in;}
@keyframes mymove {
	from {left: 0px;}
	to {left: 70px;}
  }
#div3 {
	width: 300px;
	/* background-color: red; */
	font-weight: bold;
	position: relative;
	animation: mymove 5s infinite;
  }